/* mnml.css
 * 
 * This is a customized version of the Swiss default theme. It is dual-licenced under the
 * GPL2 and MIT licenses and adapted from its original by Laurens Duijvesteijn. The original
 * swiss.css, as created by Caleb Troughton, is found on Github: 
 *
 * https://github.com/imakewebthings/deck.js
 * 
 */

.deck-container {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 1.25em;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
    background: #fff;
    -webkit-box-shadow: 0 0 4em #ccc;
       -moz-box-shadow: 0 0 4em #ccc;
            box-shadow: 0 0 4em #ccc;
}
.deck-container .slide {
    background: #fafafa;
}
.deck-container h1,
.deck-container h2 {
    font-weight: normal;
    border-top: 8px solid #333333;
    border-bottom: 1px solid #333333;
}

.deck-container h3,
.deck-container h4,
.deck-container h5 {
    font-weight: normal;
    border-bottom: 1px solid #333333;
}

.deck-container h1 {
    min-height: 115px
}

.deck-container h1 span {
    font-size: .7em;
    display: block;
}

.deck-container h2 {
    font-size: 1.9em;
    min-height: 60px;
    margin-top: 1.5em;
}

.deck-container h3,
.deck-container h4 {
    margin-top: 1em;
    margin-bottom: .5em;
    padding-bottom: .2em;
}

.deck-container h3 {
    font-size: 1.3em;
    border-top: 0;
}

.deck-container h4 {
    color: #27bbd1;
    padding-top: 1em;
    border-bottom: 0;
}
.deck-container pre {
  border-color: #cde;
  background: #fff;
  position: relative;
  z-index: auto;
  /* http://nicolasgallagher.com/css-drop-shadows-without-images/ */
}
.borderradius .deck-container pre {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.csstransforms.boxshadow .deck-container pre > :first-child:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.csstransforms.boxshadow .deck-container pre:before, .csstransforms.boxshadow .deck-container pre:after {
  content: "";
  position: absolute;
  z-index: -2;
  bottom: 15px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
}
.csstransforms.boxshadow .deck-container pre:before {
  left: 10px;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.csstransforms.boxshadow .deck-container pre:after {
  right: 10px;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}
.deck-container code {
  color: #789;
}
.deck-container .slide code {
    color: #888
}
.deck-container blockquote {
  font-family: "Hoefler Text", Constantia, Palatino, "Palatino Linotype", "Book Antiqua", Georgia, serif;
  font-size: 1.3em;
  padding: 1em 2em .5em 2em;
  color: #000;
  background: #fff;
  position: relative;
  border: 1px solid #cde;
  z-index: auto;
}
.borderradius .deck-container blockquote {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.boxshadow .deck-container blockquote > :first-child:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.boxshadow .deck-container blockquote:after {
  content: "";
  position: absolute;
  z-index: -2;
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 50%;
  -moz-border-radius: 10px/100px;
  border-radius: 10px/100px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
.deck-container blockquote p {
  margin: 0;
}
.deck-container blockquote cite {
  font-size: .5em;
  font-style: normal;
  font-weight: bold;
  color: #888;
}
.deck-container blockquote:before {
  content: "“";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 5em;
  line-height: 1;
  color: #ccf0f0;
  z-index: 1;
}
.deck-container .slide ::-moz-selection {
    background: #c00;
    color: #fff;
}
.deck-container .slide ::selection {
    background: #c00;
    color: #fff;
}
.deck-container .slide a,
.deck-container .slide a:hover,
.deck-container .slide a:focus,
.deck-container .slide a:active,
.deck-container .slide a:visited {
    color: #1054cc;
    text-decoration: none;
}
.deck-container .slide a:hover,
.deck-container .slide a:focus {
    text-decoration: underline
}
.deck-container > .slide .deck-before,
.deck-container > .slide .deck-previous {
    opacity: 0.4
}
.deck-container .deck-prev-link,
.deck-container .deck-next-link {
    background: #ccc;
    font-family: serif;
}
.deck-container .deck-prev-link,
.deck-container .deck-prev-link:hover,
.deck-container .deck-prev-link:focus,
.deck-container .deck-prev-link:active,
.deck-container .deck-prev-link:visited,
.deck-container .deck-next-link,
.deck-container .deck-next-link:hover,
.deck-container .deck-next-link:focus,
.deck-container .deck-next-link:active,
.deck-container .deck-next-link:visited {
    color: #fff
}
.deck-container .deck-prev-link:hover,
.deck-container .deck-prev-link:focus,
.deck-container .deck-next-link:hover,
.deck-container .deck-next-link:focus {
    background: #c00;
    text-decoration: none;
}
.deck-container .deck-status {
    font-size: 0.6666em
}
.deck-container.deck-menu .slide {
    background: #eee
}
.deck-container.deck-menu .deck-current,
.no-touch .deck-container.deck-menu .slide:hover {
    background: #ddf
}

/* JM extensions */

.deck-container li{
  font-size: 1.4em;
}

.deck-container p {
  font-size: 1.5em;
}

a {
  background: transparent url(/images/icon_external.gif) center right no-repeat;
  padding-right: 18px;
}

